#hori1{
	width:10%;height: 30%;border: 9px dotted#7401DF;border-right: none;border-left: none;border-bottom:none}

#paragraph1{
	font-size: 155%;color:#3B6978
}
#hori2{
	width:10%;height: 30%;border: 9px dotted #086A87;border-right: none;border-left: none;border-bottom:none}
}
