hr{
	width:10%;height: 30%;border: 9px dotted #071C98;border-right: none;border-left: none;border-bottom:none
}
#hr1{
	width:10%;height: 30%;border: 9px dotted #81DAF5;border-right: none;border-left: none;border-bottom:none

}
#hr2{
	 
	width:10%;height: 30%;border: 9px dotted #0B614B;border-right: none;border-left: none;border-bottom:none
}

#para2{font-size:30px;color:green}

